.contentcolumn {
    text-align: center
}

.beericons {
    width: 35%;
    height: 35%;
}

.icontext {
    padding: 30px;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

