
.row1 {
	padding-top: 300px;
	text-align: center;


}

<<<<<<< HEAD
=======
.container {
	background-image: url(pics\erik-jan-leusink-183677.jpg);
}
>>>>>>> 2da9901e890cda49da182e0729ac4c09ccf94db0


.contentcolumn {
    text-align: center
}

.beericons {
    width: 150px;
    height: 150px;
}

.icontext {
    padding: 30px;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}
